<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ubitlibrary">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Buy_book"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".Seller_profile"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Search_seller"
            android:screenOrientation="portrait" />
        <activity
            android:name=".sell_book_details"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Professor_profile"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Recent_books"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Pdf_book_details"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Library_book_details"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Splash_screen"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Search_professor"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Delete_book"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Search_book_section"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Addbook"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Contact_us"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Feedback_section"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Sign_in"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>